<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.credapp.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.credapp.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationsServlet</servlet-name>
        <servlet-class>com.credapp.servlets.ApplicationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.credapp.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.credapp.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>com.credapp.servlets.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationFormServlet</servlet-name>
        <servlet-class>com.credapp.servlets.ApplicationFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppFormServlet</servlet-name>
        <servlet-class>com.credapp.servlets.AppFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>com.credapp.servlets.MailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>com.mycompany.mymail.DemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>com.credapp.servlets.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassUpdateServlet</servlet-name>
        <servlet-class>com.credapp.servlets.PassUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFormServlet</servlet-name>
        <servlet-class>com.credapp.servlets.SubmitFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewApplicationServlet</servlet-name>
        <servlet-class>com.credapp.servlets.ReviewApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DS</servlet-name>
        <servlet-class>com.credapp.servlets.DS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassEmailServlet</servlet-name>
        <servlet-class>com.credapp.servlets.PassEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableCompanyServlet</servlet-name>
        <servlet-class>com.credapp.servlets.DisableCompanyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoggerInitializer</servlet-name>
        <servlet-class>com.credapp.servlets.logger.LoggerInitializer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>demoS</servlet-name>
        <servlet-class>com.mycompany.mymail.demoS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/ApplicationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationFormServlet</servlet-name>
        <url-pattern>/ApplicationFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppFormServlet</servlet-name>
        <url-pattern>/AppFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/DemoServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassUpdateServlet</servlet-name>
        <url-pattern>/PassUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFormServlet</servlet-name>
        <url-pattern>/SubmitFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewApplicationServlet</servlet-name>
        <url-pattern>/ReviewApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DS</servlet-name>
        <url-pattern>/DS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassEmailServlet</servlet-name>
        <url-pattern>/PassEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableCompanyServlet</servlet-name>
        <url-pattern>/DisableCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggerInitializer</servlet-name>
        <url-pattern>/LoggerInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demoS</servlet-name>
        <url-pattern>/demoS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
